body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.textarea {
  width: 80%;
  height: 75vh;
  /* background-color: #FFFDE3; */
  background-color: #A5F1E9;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 3rem;
  border-radius: 10px;
}
.container {
  border-radius: 10px;
  margin-top: 1rem;
  height: 91%;
}
.logo {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 5px;
  width: auto;
  height: 2rem;
  text-align: center;
  font-size: 2rem;
}
.send {
  height: 5%;
  margin-top: 0.7%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 100%;
}
.msg {
  padding: 20px;
  width: auto;
  height: 83%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  /* padding-top: 40px; */
}
.text {
  border-radius: 10px;
  border-style: none;
  padding: 5px;
  font-size: 1rem;
  width: 70%;
}
.msg div{
    background-color: #E1FFEE;
    padding: 5px;
    font-size: 20px;
    margin-top: 5px;
    margin-left: 3rem;
    border-radius: 5px;
    box-sizing: auto;
    width: fit-content;

}
.btn {
  padding: 5px;
  border-style: none;
  font-size: 1rem;
  border-radius: 10px;
  width: auto;
}
/* @media only screen and (max-width: 600px) */
@media screen and (max-width: 650px) {
  .text {
    width: 70%;
  }
  .btn {
    font-size: 0.8rem;
    padding: 5px;
    width: auto;
  }
  .msg div{
    margin-left: 7px;
  }
}
